apptainer.enabled = true
apptainer.pullTimeout = '2h'
process.env.OPENSSL_CONF = '/dev/null'

plugins {
    id 'nf-schema@2.1.1'
}

params {
    input   = null
    output  = "results"
    mac     = 50
    fasta = "/project/voltron/Resources/gwaslab/reference-genome/hg38.fa"
    dbsnp = "/project/voltron/Resources/gwaslab/dbsnp/GCF_000001405.40.gz"
    chain = "/project/voltron/Resources/liftOver/hg19ToHg38.over.chain.gz"
    gtf = "/project/voltron/Resources/gwaslab/ensembl-gtf/Homo_sapiens.GRCh38.109.chr.gtf.gz"
    population_vcf = [
      eur: "/project/voltron/Resources/gwaslab/population-vcf/EUR.ALL.split_norm_af.1kg_30x.hg38.vcf.gz",
      afr: "/project/voltron/Resources/gwaslab/population-vcf/AFR.ALL.split_norm_af.1kg_30x.hg38.vcf.gz",
      amr: "/project/voltron/Resources/gwaslab/population-vcf/AMR.ALL.split_norm_af.1kg_30x.hg38.vcf.gz",
      eas: "/project/voltron/Resources/gwaslab/population-vcf/EAS.ALL.split_norm_af.1kg_30x.hg38.vcf.gz",
      csa: "/project/voltron/Resources/gwaslab/population-vcf/CSA.ALL.split_norm_af.1kg_30x.hg38.vcf.gz"
    ]
    
    ldsc_reference = [
        eur: "/project/voltron/Resources/gwaslab/ldsc/EUR/UKBB.EUR",
        afr: "/project/voltron/Resources/gwaslab/ldsc/AFR/UKBB.AFR",
        amr: "/project/voltron/Resources/gwaslab/ldsc/AMR/UKBB.AMR",
        eas: "/project/voltron/Resources/gwaslab/ldsc/EAS/UKBB.EAS",
        csa: "/project/voltron/Resources/gwaslab/ldsc/CSA/UKBB.CSA",
        mid: "/project/voltron/Resources/gwaslab/ldsc/MID/UKBB.MID",
        // cross-ancestry meta uses EUR LD panels as default — update as needed
        all: "/project/voltron/Resources/gwaslab/ldsc/EUR/UKBB.EUR"
    ]

    // Tissue and cell type enrichment (LDSC-CTS) resources
    ldcts         = "/project/voltron/Resources/gwaslab/tissue-cts-expression/multi_tissue_gene_expression.ldcts"
    ldcts_weights = "/project/voltron/Resources/gwaslab/1000G_Phase3_weights_hm3_no_MHC/weights.hm3_noMHC."
    ldbaseline = "/project/voltron/Resources/gwaslab/tissue-cts-expression/1000G_Phase3_baselineLD_v2.2_ldscores/baselineLD."

}

profiles {

    standard {
        includeConfig 'conf/base.config'
    }

  voltron {
      process.executor = 'lsf'
      process.queue = 'voltron_normal'
      apptainer.enabled = true
      apptainer.runOptions = '-B /root/,/project/,/static/,/scratch/ --env OPENSSL_CONF=/dev/null'
      apptainer.cacheDir = "${projectDir}/containers/"
      process.beforeScript = 'module load apptainer'
      executor {
          queueSize = 50
      }
  }
}

