docker.enabled = true
docker.runOptions = "-v ${projectDir}/bin:${projectDir}/bin"

plugins {
    id 'nf-schema@2.1.1'
}

params {
    input   = null
    output  = "results"
    mac     = 50
    dbsnp = "/project/voltron/Resources/dbSNP157/SNPlocs.Hsapiens.dbSNP157.GRCh38_0.99.24.tar.gz"
    
}

profiles {

    standard {
        includeConfig 'conf/base.config'
    }

  voltron {
      process.executor = 'lsf'
      process.queue = 'voltron_normal'
      apptainer.enabled = true
      apptainer.runOptions = '-B /root/,/project/,/static/ --env OPENSSL_FIPS=0'
      apptainer.cacheDir = "${projectDir}/containers/"
      docker.enabled = false
      // process.beforeScript = 'module load apptainer'
      executor {
          queueSize = 500
      }
      process.memory = '16GB'
  }
}