plugins {
    id 'nf-schema@2.1.1'
}

params {
    input   = null
    output  = "results"
    mac     = 50
}

profiles {

    standard {
        includeConfig 'conf/base.config'
    }

  voltron {
      process.executor = 'lsf'
      process.queue = 'voltron_normal'
      singularity.enabled = true
      singularity.runOptions = '-B /root/,/project/,/static/'   
      // process.beforeScript = 'module load apptainer'          
      executor {
          queueSize = 500
      }
      process.memory = '16GB'
}